.cover-img{
  z-index: -1;
  background-size: cover 100%;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 480px)   {
  .cover-img{
      background-size: cover;
      background-position: center 0px !important;
      height: 600px !important;
  }
}
@media only screen and (min-width: 1920px)   {
  .cover-img{
    background-size: 100%;
  }
}

.shaded{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.shaded h1{
  position: relative;
  text-align: center;
  z-index: 10;
  color: #fff;
}

.cornerButton{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 540px;
  margin: auto;
  width: 1600px;
  max-width: 100%;
}
@media only screen and (max-width: 480px){
  .cornerButton{
      top: 500px;

  }
  .cornerButton div{
    width: 230px;
    height: 55px;
    margin-right: 30px !important;
    font-size: 95%;
  }
}
.cornerButton div{
  margin-right: 15px;
}
