.slideshow-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.slide-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 1200px;
  max-width: 100%; }

.slide img {
  width: 100%;
  height: 100%; }

.hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0%;
  width: 20%;
  z-index: 1;
  transition: width 0.5s, height 0.5s, left 0.5s, visibility 0.5s, opacity 0.5s; }

.image3 {
  position: absolute;
  left: 70%;
  width: 20%;
  z-index: 1; }

.image0 {
  width: 40%;
  visibility: visible;
  opacity: 1;
  position: absolute;
  left: 0;
  z-index: 2;
  transition: width 0.5s, height 0.5s, left 0.5s, visibility 0.5s, opacity 0.5s; }

.image1 {
  width: 50%;
  visibility: visible;
  opacity: 1;
  position: absolute;
  left: 25%;
  z-index: 3;
  transition: width 0.5s, height 0.5s, left 0.5s, visibility 0.5s, opacity 0.5s; }

.image2 {
  width: 40%;
  visibility: visible;
  opacity: 1;
  position: absolute;
  left: 60%;
  z-index: 2;
  transition: width 0.5s, height 0.5s, left 0.5s, visibility 0.5s, opacity 0.5s; }

.circle1{
  stroke: #ee1b2c;
  stroke-width: 2;
  stroke: #999;
}
.circle1 + svg circle{
  fill: #ee1b2c;
  stroke-width: 0;
}
