.nav-container{
  position: absolute;
  z-index: 2;
  width: 1600px;
  max-width: 100%;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
}
.menu{
  padding: 0 30px;
}
.menu nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu nav ul{
  display: flex;
  width: 400px;
  justify-content: space-between;
}

/* RESPONSIVE NAV (BURGER MENU) */
/* Switch between desktop and mobile navs */
/*  */
@media only screen and (max-width: 480px)   {
  .desktop{
    display: none !important;
  }
}
@media only screen and (min-width: 481px)   {
  .mobile{
    display: none !important;
  }
}

.toggleBar{
  display: flex;
  background-color: #333;
  position: absolute;
  top: 0px;
  width: 100%;
  justify-content: space-around;
  box-shadow: 0px 4px 4px #777;
  transition: top 0.55s;
}
.toggleBar ul{
  padding-left: 0px;
}
.toggleBar li{
  margin: 10px 0;

}
.showfalse{
  top: -180px;
  transition: top 0.55s;
}

.burgerLogo div{
  width: 0%;
}
.burgerLogo input{
  opacity: 0;
  margin: auto;
  z-index: 5;
  width: 70px;
  height: 35px;
  position: absolute;
  left: 15px;
  top: 50px;
  cursor: pointer;
}
.burgerLogo a{
  margin: auto;
  margin-top: 10px;
}
.burgerLogo img{
  width: 80px;
}

/* Anomations */
.burgerLogo span{
  display: block;
  left: 30px;
  top: 25px;
  width: 40px;
  height: 4px;
  margin-bottom: 7px;
  position: relative;
  background: #eee;

  z-index: 1;

  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
.burgerLogo span:first-child
{
  transform-origin: 0% 0%;
}
.burgerLogo span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
.burgerLogo input:checked ~ span
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px) translate(0px, 10px);
}
.burgerLogo input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px) translate(0px, -10px);
}
