@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 200; }
a{
  text-decoration: none;
  color: #fff;
  font-size: 150%; }
li{
  list-style-type: none; }

h1{
  font-size: 350%;
  font-weight: 400;
}

h2{
  font-weight: 400;
  font-size: 200%;
}
h4{
    margin: 10px 0;
}

/* GENERAL CLASSES */
.page{
  position: relative;
  z-index: 1;
}
.container{
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 60px 0;
}
.column{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}
.flexWrap{
  display: flex;
  flex-wrap: wrap;
}
.paragraph{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wideContainer{
  width: 900px;
  max-width: 100%;
  margin: auto;
}
.narrowContainer{
  width: 600px;
  max-width: 100%;
  margin: auto;
}
.maxWidth{
  max-width: 100% !important;
}

.white{
  background-color: #fff;
}
.whiteText{
  color: #fff;
}
.black{
  background-color: #000;
}
.blackText{
    color: #000;
}
.redText{
  color: #ee1b2c;
}
.centerAlign{
  display: flex;
  justify-content: center;
  align-items: center;
}
.textAlign{
  text-align: center;
}
.alignTop{
  display: flex;
  justify-content: flex-start !important;
}
.padding{
  padding: 60px 0;
}
.sidePadding{
  padding-left: 35px;
  padding-right: 35px;
  box-sizing: border-box;
}
.smallSidePadding{
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

/* MOBILE STYLING */
@media only screen and (max-width: 480px)   {
  .flowMotion h1{
    top: -100px;
    font-size: 200%;
  }
  .padding{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .container{
    padding-top: 30px;
    padding-bottom: 30px;
  }

}


/* SPECIFIC CLASSES */
.button{
  height: 65px;
  width: 280px;
  background-color: #ee1b2c;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.playButton{
  fill-opacity: 0.6;
  padding-top: 90px;
}
.coreIcons{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.coreIcons div{
  height: 100px;
  width: 100px;
  background-color: #fff;
}
.positionCards{
  flex-wrap: wrap;
  justify-content: space-between;
}
.positionCard{
  display: flex;
  margin: 7px 20px;
  padding: 10px 20px;
  box-shadow: 0px 4px 20px #ccc;
  width: 370px;
  max-width: 100%;
  border-radius: 6px;
}
.positionCard h4, .positionCard p{
  margin: 5px 0;
}

.instaImage{
  padding: 3px 3px;
  width: 270px;
  height: auto;
  max-width: 100% ;
}
.instaImage div{
  background-position: center;
  background-repeat: no-repeat;
}
.instaImage img{
  width: 100%;
  height: auto;
}
.instaImage:hover img {
  z-index: -1;
  filter: grayscale(100%);
}
