@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
body{
  font-weight: 400;}

.pageContainer{
  overflow-x: hidden;}

a{
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 150%; }

p{
  font-weight: 300;
  font-size: 130%;}

@media only screen and (max-width: 480px)   {
  p{
    font-size: 100%;
  }
}
li{
  list-style-type: none; }
ul{
  padding-left: 20px;
}

h1{
  font-size: 390%;
  font-weight: 400;
  text-shadow: 0 2px 8px rgb(0,0,0,0.2); }
@media only screen and (max-width: 480px)   {
  h1{
    font-size: 200%;
  }
}
@media only screen and (max-width: 400px)   {
  h1{
    font-size: 190% !important;
  }
}
h2{
  font-weight: 500;
  font-size: 220%;
  text-align: center;
}

h3{
  font-weight: 600;
  font-size: 140%; }

h4{
  font-weight: 600;
  margin: 10px 0;
}



/* GENERAL/REUSABLE CLASSES */
.page{
  position: relative;
  z-index: 1;
}
/*  ------------------------------------------------------------- Containers */
.container{
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 60px 0;
}
.wideContainer{
  width: 1000px;
  max-width: 100%;
  margin: auto;
}
.narrowContainer{
  width: 600px;
  max-width: 100%;
  margin: auto;
}
@media only screen and (max-width: 480px)   {
  .container{
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/*  ------------------------------------------------------------- Positioning*/
.column{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}
.flexWrap{
  display: flex;
  flex-wrap: wrap;
}
.paragraph{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.maxWidth{
  max-width: 100% !important;
}
.horizontalAlign{
  display: flex;
  justify-content: center;
}
.autoMargin{
  margin: auto;
}
.verticalAlign{
  display: flex;
  align-items: center;
}
.textAlign{
  text-align: center;
}
.leftText{
  text-align: left;
}
.alignTop{
  display: flex;
  justify-content: flex-start !important;
}
/*  ------------------------------------------------------------- Paddings */
.padding{
  padding-top: 60px;
  padding-bottom: 60px;
}
.topPadding{
  padding-top: 25px;
}
.smallPadding{
  padding-top: 20px;
  padding-bottom: 20px;
}
.sidePadding{
  padding-left: 35px;
  padding-right: 35px;
  box-sizing: border-box;
}
.smallSidePadding{
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

@media only screen and (max-width: 480px)   {
  .padding{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .sidePadding{
    padding-left: 25px;
    padding-right: 25px;
  }
  .flowMotion h1{
    top: -100px;
  }
}

/* Appearance/color ----------------------------------------------------- */
.white{
  background-color: #fff;
}
.whiteText{
  color: #fff;
}
.grayText{
  color: #dedede;
}
.black{
  background-color: #000;
}
.blackText{
    color: #000;
}
.redText{
  color: #ee1b2c;
}
.hide{
  display: none !important;
}



/* SPECIFIC ELEMENT CLASSES */


/* ----------------------------------------------------- Buttons*/
.button{
  height: 65px;
  width: 280px;
  background-color: #ee1b2c;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wideButton{
  margin-top: 80px;
}
@media only screen and (min-width: 481px)   {
  .wideButton div{
    width: 400px;
  }
}
.playButton{
  fill-opacity: 0.6;
  padding-top: 70px;
  cursor: pointer;
}
.playButton img{
  width: 150px;
}
@media only screen and (max-width: 480px){
  .playButton img{
    width: 90px;
  }
}
.playButton + h3{
  margin: 0;
}
.missionText{
  position: relative;
  top: -30px;
}

/* ----------------------------------------------------- Mission/YouTube */
.youTube {
  width: 800px;
  max-width: 100vw;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 28px;
	height: 0;
  z-index: 5;
}
.youTube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  max-height: 450px;
}
@media only screen and (max-width: 480px){
  .youTube iframe {
    margin-top: 40px;
  }
}

/* ----------------------------------------------------- Core values */
.coreIcons{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.coreIcons img{
  height: auto;
  width: 80px;
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 480px){
  .coreIcons img{
    width: 50px;
  }
  .coreValueHeader{
    font-size: 125%;
  }
}
.arrowDown{
  margin: auto;
  width: 30px !important;
}

/* ----------------------------------------------------- Open positions */
.positionCards{
  flex-wrap: wrap;
  justify-content: space-between;
  width: 900px;
  padding-bottom: 100px;
}
@media only screen and (max-width: 916px)   {
  .positionCards{
    justify-content: center !important;
  }
}
.positionCard{
  display: flex;
  margin: 10px 20px;
  padding: 10px 20px;
  box-shadow: 0px 4px 20px #ccc;
  width: 370px;
  max-width: 100%;
  border-radius: 6px;
}
.positionCard h4, .positionCard p{
  margin: 5px 0;
  margin-right: 20px;
  font-size: 70%;
}

/* ----------------------------------------------------- Instagram*/
.instaImage{
  padding: 3px 3px;
  width: 270px;
  height: auto;
  max-width: 100% ;
}
.instaImage div{
  background-position: center;
  background-repeat: no-repeat;
}
.instaImage img{
  width: 100%;
  height: auto;
}
.instaImage:hover img {
  z-index: -1;
  filter: grayscale(100%);
}

/* ----------------------------------------------------- Benefits */
.benefits{
  padding-top: 30px;
  padding-bottom: 20px;
}
.benefits > div{
  display: flex;
  justify-content: space-between;
}
.benefits > div > div{
  height: auto;
  max-width: 100%;
  width: 33%;
  align-items: center;
}
.benefits img{
  width: 80px;
}
.benefits p{
  font-weight: 400;
}

/* Make things smaller for mobile */
@media only screen and (max-width: 700px)   {
  .benefits{
    padding-top: 0px;
  }
  .benefits p{
    font-size: 80%;
  }
  .benefits > div > div > img{
      width: 50px;
      height: auto;

  }
}


/* JOBS PAGES STYLING (same for almost all job pages) */
/* ----------------------------------------------------- Cover image*/
.jobsCover h1{
  top: 90px;
}
.jobsCover p{
  position: relative;
  top: -70px;
  text-shadow: 0 2px 8px rgb(0,0,0,0.2);
}
@media only screen and (max-width: 999px)   {
  .jobsCover h1{
    font-size: 250%;
  }
  .jobsCover p{
    font-size: 100%;
  }
}
@media only screen and (min-width: 481px)   {
  .jobsCover div{
    top: 370px;
  }
}
@media only screen and (max-width: 480px)   {
  .jobsCover p{
    top: -100px;
  }
}
/* ----------------------------------------------------- Bullet lists*/
.bulletItems{
  text-align: left;
}
@media only screen and (max-width: 480px)   {
  li{
    font-size: 100% !important;
  }
}
.bulletItems li{
    list-style: url("./images/bulletLine.png");
    padding: 10px 0;
    font-weight: 100;
    font-size: 130%;
}
