@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 200; }
a{
  text-decoration: none;
  color: #fff;
  font-size: 150%; }
li{
  list-style-type: none; }

h1{
  font-size: 350%;
  font-weight: 400;
}
h2{
  font-weight: 400;
}
.page{
  position: relative;
  z-index: 1;
}

/* NAV STYLING */
.nav-container{
  position: absolute;
  z-index: 2;
  width: 1600px;
  max-width: 100%;
  /* Necessary to center an absolute div. */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
}
.menu{
  padding: 0 30px;
}
.menu nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu nav ul{
  display: flex;
  width: 400px;
  justify-content: space-between;
}
/* END NAV STYLING */

.container{
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 60px 0;
}
.column{
  display: flex;
  flex-direction: column;
}
.paragraph{
  width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.narrowContainer{
  width: 600px;
  max-width: 100%;
}
.coverWidth{
  max-width: 100%;
}

.white{
  background-color: #fff;
}
.whiteText{
  color: #fff;
}
.black{
  background-color: #000;
}
.redText{
  color: #ee1b2c;
}
.centerAlign{
  display: flex;
  justify-content: center;
  align-items: center;
}
.textAlign{
  text-align: center;
}
.alignTop{
  display: flex;
  justify-content: flex-start !important;
}
.padding{
  padding: 60px 0;
}
.button{
  height: 65px;
  width: 280px;
  background-color: #ee1b2c;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.playButton{
  fill-opacity: 0.6;
  padding-top: 90px;
}
.coreIcons{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.coreIcons div{
  height: 100px;
  width: 100px;
  background-color: #fff;
}
