@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: 'type-36';
  font-style: normal;
  font-weight: 300;
  src: local('type-36-light'),
  url(./fonts/type-36-light-hdc.ttf) format('truetype'), /* Safari, Android, iOS */
  url(./fonts/type-36-light-hdc.woff) format('woff'),
  url(./fonts/type-36-light-hdc.woff2) format('woff2'); /* Super Modern Browsers */
}

@font-face {
  font-family: 'type-36';
  font-style: normal;
  font-weight: 400;
  src: local('type-36'),
  url(./fonts/type-36-regular-hdc.ttf) format('truetype'), /* Safari, Android, iOS */
  url(./fonts/type-36-regular-hdc.woff) format('woff'),
  url(./fonts/type-36-regular-hdc.woff2) format('woff2'); /* Super Modern Browsers */
}

@font-face {
  font-family: 'type-36';
  font-style: normal;
  font-weight: 500;
  src: local('type-36'),
  url(./fonts/type-36-medium-hdc.ttf) format('truetype'), /* Safari, Android, iOS */
  url(./fonts/type-36-medium-hdc.woff) format('woff'),
  url(./fonts/type-36-medium-hdc.woff2) format('woff2'); /* Super Modern Browsers */
}

@font-face {
  font-family: 'type-36';
  font-style: bold;
  font-weight: 700;
  src: local('type-36-bold'),
  url(./fonts/type-36-bold-hdc.ttf) format('truetype'), /* Safari, Android, iOS */
  url(./fonts/type-36-bold-hdc.woff) format('woff'),
  url(./fonts/type-36-bold-hdc.woff2) format('woff2'); /* Super Modern Browsers */
}

body {
  font-family: 'type-36', 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
