.footerContainer{
  padding: 100px 0 0 0;
  background-color: #000;
  width: 100%;
}
.footer{
  padding-bottom: 280px;
  width: 1200px;
  max-width: 100%;
  margin: auto;
  flex-wrap: wrap;
  text-align: left;
}

@media only screen and (max-width: 480px)   {
  .footer{
    text-align: center;
    flex-direction: column;
    padding-bottom: 100px;
    align-items: center;
  }
  .footer img{
    width: 200px !important;
    padding-bottom: 50px;
  }
  .extraLinks{
    display: none;
  }
  .copyright{
    font-size: 70% !important;
  }
}
@media only screen and (min-width: 481px)   {
  .mobileLinks{
    display: none;
  }
}
.largeFooterLogo img{
  width: 400px;
}
.footer div{
  flex-grow: 1;
  flex-wrap: wrap;
  
}
.footer div div a{
  margin: 6px 0;
  font-size: 180%;
}

.copyright{
  margin: 0px;
  padding-bottom: 25px;
  font-size: 120%;
  color: #aaa;
}
